@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   }


*{
    box-sizing: border-box;
}

body {
    margin-left: 20px;
    font-family: "Raleway";
}

h1{
    font-size: 20px;
}

h2{
    font-size: 17px;
}


header {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation{
    margin-top: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.nav_li {
    margin-left: 100px;
    padding-top: 50px;
    border-top: 2px solid transparent
}

.nav_li:hover {
    border-top: 2px solid #0065FC
   }

.nav_a {
    padding-left: 20px;
    padding-right: 20px;
    color: inherit;
    text-decoration: inherit;
}

.nav_a:hover {
    color: #0065FC;
}

.research{
height: 40px;
display:flex;
flex-direction: row;
position:relative;
}

.iconBackground{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    background-color: #F2F2F2;
    height: 40px;
    width: 50px;
    position: relative;
}

#localisation{
    position: absolute;
    top: 10px;
    left: 20px;
}

#research{
    padding-left: 20px;
    color: black;
    font-weight: bold;
    height: 40px;
    border: 1px solid #F2F2F2;;
    outline: none;
    position: absolute;
    left: 50px;
}

#researchButton{
    border: none;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    width: 120px;
    height: 40px;
    padding-left: 0px;
    position: absolute;
    left: 220px;
}

#researchButtonMobile{
    display: none;
}

#loupe{
    display: none;
}

.filtres{
    padding-top: 20px;
    display:flex;
    flex-direction: row;
}


.filtre_element{
    padding-left: 20px;
    display:flex;
    flex-direction: row;
}

.economie_familial{
    display:flex;
    flex-direction: row;
}

.imagebutton{
    padding-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    z-index: 1;
    text-align: center;
}

.bouttonfiltre{
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
    height: 50px;
    border: 2px solid #F2F2F2;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}

.bouttonfiltre:hover {
    border: 2px solid #0065FC;
}

.hebergements{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hebergements_a_marseille{
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    height: auto;
    width: 60%;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin-right: -20px;
}


.ligneHebergement{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card{
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
    height: 250px;
}


.imgCardHergementsMarseille{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 60%;
    padding: 5px 5px 5px 5px;
}

h4{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    margin-top: 0px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.rating {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.blueStar {
    color: #0065FC;
}

.greyStar{
    color:  #DEEBFF;;
}

.afficher{
    font-size: 20px;
    font-weight: bold;
}


.lesPlusPopulaires{
    margin-left: 50px;
    background-color:#F2F2F2;
    border-radius: 20px;
    width: 40%;
    margin-right: 50px;
    padding: 20px 40px 40px 40px;
}

.LesPlusPopulaireTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trending{
    padding-left: 40px;
    padding-top: 17px;
    color: black;
}

.hebergementsPopulaires{
    padding-bottom: 40px;
    height: 100%;
    width: 100%;
}

.cardPopulaire{
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;

}


.cardHergementsLesPlusPop{
    border-radius: 20px;
    width: 35%;
    object-fit: cover;
    height: 100%;
    padding: 5px 5px 5px 5px;
}


footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 40px;
}

.footerSection{
    width: 33%;
    padding-left: 40px;
    padding-bottom: 40px;
}

.footerTitle{
    margin-bottom: 5px;
}

.footerUl{
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.footerLi {
    padding-top: 20px;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

    .nav_li {
        text-align: center;
        width: 50%;
        padding-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        border-bottom: 2px solid #F2F2F2
    }


    .nav_li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: transparent;
    }
    
    
    #researchButton{
    display: none;
    }

    #researchButtonMobile{
        border: none;
        font-size: 18px;
        background-color: #0065FC;
        color: white;
        width: 50px;
        height: 40px;
        padding-left: 0px;
        position: absolute;
        left: 220px;        
        border-radius: 10px;
        padding: 10px;
        display: block;
        }


    #loupe{
        display: block;
    }
    
    .filtres {
        flex-direction: column; 
    }

    .filtre_element{
        padding-top: 10px;
    }

    .hebergements {
        flex-direction: column;
        width: 100%;
    }

    .hebergements_a_marseille{
        width: 100%;
        border-radius: 0px;
        order: 2;
        background-color: white;
    }

    .ligneHebergement{
        width: 100%;
        flex-direction: column;
        padding-top: 0px;
    }

    .card{
        width: 90%;
        box-shadow:  0px 1px #ccc;
        margin-top: 20px;
    }

    .lesPlusPopulaires{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        border-radius: 0px;
    }

    .cardPopulaire{
        height: 200px;
    }
}